<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Attendence</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="constainer p-4 ">
    <div id="video-frame" class="video">
      <video id="video" width="720" height="560" autoplay muted></video>
    </div>

    <!-- attendance -->
    <div id="option" class="attend">
      <div class="p-2">
        <span id="Status">InActive</span>
        <span id="Count"></span>
        <div class="progress-bar" id="myProgressBar"></div>
      </div>
      <br>
      <div class="p-2">
        <input type="text" name="sessionname" id="sessionname" placeholder="sessionname">
        <button class="button is-success" id="startAttendanceBtn">Start Attendance</button>
        <button class="button is-warning" id="stopAttendanceBtn">Stop Attendance</button>
        <button class="button is-info" id="saveAttendanceBtn">Save Attendance</button>
      </div>
      <div>
        <table class="table" id="attendanceTable">
          <thead>
            <tr>
              <th>Entry</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="attendanceTableBody">
            <!-- Entries will be dynamically added here -->
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <script type="module" src="/js/face-api.min.js"></script>
  <!-- TensorFlow.js CDN -->
  <!-- TensorFlow.js PoseNet CDN -->
  <script src="https://unpkg.com/ml5@1/dist/ml5.js"></script>

  <script type="module" src="/js/modules/PoseNetManager.js"></script>
  <!-- main -->
  <script type="module" src="/js/script.js"></script>
  <!-- <script type="module" src="/js/sketch.js"></script> -->
</body>

</html>